<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="https://glitch.com/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Welcome to my portfolio</title>
		<link rel="stylesheet" href="{{path}}style.css" />
	</head>
	<body>
		<canvas id="main-scene"></canvas>
		<script type="module" src="https://unpkg.com/earcut@2.2.4/dist/earcut.min.js"></script>
		<script type="module" src="{{path}}/scripts/gettingStarted.js"></script>
	</body>
</html>