<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Welcome to my portfolio</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>

    <canvas id="main-scene"></canvas>
    <script type="module" src="/public/scripts/wizardry.js"></script>
  </body>
</html>